<div class="row">
  <div class="col-md-11 ml-auto mr-auto">
    <div class="card card-transparent">
      <div class="card-header card-header-rose text-center">
        <h2 class="mt-0 mb-1">Register now for free!</h2>
      </div>
      <div class="card-body px-5 py-4">
        <div class="row">
          <div class="col-md-5 d-none d-md-block">
            <div class="info info-horizontal">
              <div class="icon icon-rose">
                <i class="material-icons">timeline</i>
              </div>
              <div class="description">
                <h4 class="fw-900 info-title-sans-serif">Track your progress</h4>
                <p class="description">
                  Discover how many calories you spent for each session.<br />
                  12 sports available for free right now!
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-info">
                <i class="material-icons">group</i>
              </div>
              <div class="description">
                <h4 class="fw-900 info-title-sans-serif">Workout with friends</h4>
                <p class="description">
                  Easily add your friends and practice together!<br />
                  You can also comments and see your friends progression.
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">devices_other</i>
              </div>
              <div class="description">
                <h4 class="fw-900 info-title-sans-serif">Sync all your devices</h4>
                <p class="description">
                  Your workouts are automatically synchronized on all your devices.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 pr-5 text-center">
            <%= link_to user_facebook_omniauth_authorize_path, {:class => 'btn btn-social btn-lg btn-fill facebook', :style => 'font-size:0.9rem'} do %>
              <%= icon('fab', 'facebook-f', class: 'mr-2') %> Login with Facebook
            <% end %>
            <h3>or</h3>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group pt-0">
                <div class="input-group col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><%= icon('fas', 'envelope') %></span>
                  </div>
                  <%= f.email_field :email, autofocus: false, placeholder: :email, class: 'form-control', required: true %>
                </div>
              </div>
              <div class="form-group pt-0">
                <div class="input-group col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><%= icon('fas', 'key') %></span>
                  </div>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password, required: true %>
                </div>
              </div>

              <div class="form-group pt-0">
                <div class="input-group col-12">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><%= icon('fas', 'key') %></span>
                  </div>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: :password_confirmation, required: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.submit "Register", class: "btn btn-primary btn-block btn-lg" %>
              </div>
            <% end %>

            <div class="text-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>