<div class="row">
  <div class="col-md-5 ml-auto mr-auto main-content px-5">
    <h1 class="text-center mb-3">Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= icon('fas', 'envelope') %></span>
          </div>
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: :email %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= icon('fas', 'key') %></span>
          </div>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <%= f.check_box :remember_me, class: "custom-control-input", id:"customCheck1" %>
            <label class="custom-control-label" for="customCheck1">Remember me</label>
          </div>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
