<%= form_with(model: log, local: true) do |f| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><%= icon('fas', 'envelope') %></span>
      </div>
      <%= f.number_field :duration, within: 1..600, required: true, class: 'form-control', placeholder: 'Duration in minutes' %>
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><%= icon('fas', 'envelope') %></span>
      </div>
      <%= f.collection_select(:activity_intensity_id, @activity.activity_intensities, :id, :title, {prompt: 'Session\'s difficulty'}, {class:'form-control', required: true}) %>
    </div>
  </div>

  <div class="actions text-center">
    <%= f.submit "Submit entry", class:'btn btn-primary' %>
  </div>
<% end %>