<%= form_with(model: log, local: true) do |f| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
        <% log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3>How do you feel about your session?</h3>
  <div class="form-check form-check-radio form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="i1"> <i id="i1" class="material-icons radio display-2">sentiment_very_dissatisfied</i>
    </label>
  </div>
  <div class="form-check form-check-radio form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="i2"> <i id="i2" class="material-icons radio display-2">sentiment_dissatisfied</i>
    </label>
  </div>
  <div class="form-check form-check-radio form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="i3"> <i id="i3" class="material-icons radio display-2">sentiment_neutral</i>
    </label>
  </div>
  <div class="form-check form-check-radio form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="i4"> <i id="i4" class="material-icons radio display-2">sentiment_satisfied</i>
    </label>
  </div>
  <div class="form-check form-check-radio form-check-inline">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="i5"> <i id="i5" class="material-icons radio display-2">sentiment_very_satisfied</i>
    </label>
  </div>

  <div class="row">
    <div class="col-4 mx-auto text-center">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="material-icons">alarm</i></span>
          </div>
          <%= f.number_field :duration, within: 1..600, required: true, class: 'form-control', placeholder: 'Duration in minutes' %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="material-icons">stars</i></span>
          </div>
          <%= f.collection_select(:activity_intensity_id, @activity.activity_intensities, :id, :title, {prompt: 'Session\'s difficulty'}, {class:'form-control', required: true}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="material-icons">comment</i></span>
          </div>
          <%= f.text_area :comment, required: true, class: 'form-control',rows:10, placeholder: 'Add a comment about your session' %>
        </div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :activity_id, value:@activity.id %>

  <div class="actions text-center">
    <%= f.submit "Submit entry", class:'btn btn-primary' %>
  </div>
<% end %>