<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-transparent">
      <div class="card-header card-header-rose text-center p-0">
        <h2>
          <i class="icons8-<%= @log.activity.icon %> display-1 float-left"></i>
          <%= @log.activity.name %> session
        </h2>
        <h3><%= @log.activity_intensity.title %> · <%= @log.duration %>mn</h3>
      </div>
      <div class="card-body pl-5 pr-4 pt-4 pb-0">
        <div class="media-area">
          <div class="media">
            <a class="float-left" href="#pablo">
              <div class="avatar">
                <img class="media-object" src="<%= @log.user.avatar %>" alt="...">
              </div>
            </a>
            <div class="media-body">
              <h4 class="media-heading" style="font-family:inherit !important;">
                <%= @log.user.name %> <i class="material-icons"><%= feeling_icon(@log.feeling) %></i>
                <small>· <%= @log.created_at.strftime("%B %e, %Y") %></small>
              </h4>
              <p><%= simple_format(@log.comment) %></p>
              <div class="media-footer">
                <a href="" class="btn btn-primary btn-link float-right" rel="tooltip" title="" data-original-title="Just a mockup">
                  <i class="material-icons">comment</i> Comment
                </a>
                <a href="" class="btn btn-danger btn-link float-right">
                  <i class="material-icons">favorite</i> 0
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>