<nav class="navbar navbar-expand-lg navbar-transparent mb-2">
  <div class="container">
    <%= link_to "Move&Groove", root_path, class:"navbar-brand", style: "color:#000" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="color:#000">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to 'Activities', activities_path, class: 'nav-link', style: 'color:#000' %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if(user_session) %>
          <li class="nav-item">
            <%= link_to user_path(current_user), class:'nav-link pr-0' do %>
              <%= icon('fas', 'user', current_user.email) %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pl-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Edit my account', edit_user_registration_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item' %>
          </div>
        <% else %>
          <li class="nav-item mr-1">
            <%= link_to new_user_session_path, class:'btn btn-secondary' do %>
              <%= icon('fas', 'sign-in-alt', 'Login') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class:'btn btn-secondary' do %>
              <%= icon('fas', 'user-plus', 'Register') %>
            <% end %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>