<!DOCTYPE html>
<html>
<head>
  <title>MoveGroove</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<% if !current_user %>
  <% body_class = 'homepage-bg' # Set image background on public pages %>
<% else %>
  <% body_class = 'dash-bg' # No image background on private pages %>
<% end %>
<body class="<%= body_class %>" >
<%= render('layouts/header') %>
<div class="container mb-5">
  <% if(notice) %>
    <div class="row">
      <div class="col-6 ml-auto mr-auto">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <% if(alert) %>
    <div class="row">
      <div class="col-6 ml-auto mr-auto">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  <% end %>
  <%= yield %>
</div>
<%= render('layouts/footer') %>
</body>
</html>